
section#intro-header {
  background-image: url(../imgs/landscape.jpg);
  background-size: cover;
}

section#intro-header .wrap-headline {
  position: relative;
  padding-top: 2%;
  padding-bottom: 30%;
}


section#intro-header h1,h2 {
  color: #FFF;
  font-family: cursive;
  font-size: 2.5em;
  font-weight:normal;
}

section#intro-header hr {
  width: 35%;
}

section#intro-header .btn {
  border: none;
  background-color:rgba(255, 255, 255, 0.8);
}

