{% extends "base.html" %}
{% load staticfiles %}

{% block additional_css %}
  <link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock %}
{% block title %}
  AkM | Вход
{% endblock %}
{% block content %}
    <section id="intro-header">
      <div class="wrap-headline">
        <!--h1 class="text-center">AskMe</h1-->
        <h1  class="text-center">
          <img src="{% static 'imgs/logos/AkmLogo3D-blue.png' %}">
        </h1> 
        <hr>
        <!-- login form -->
        <form action="" method="POST" class="form-inline text-center hidden-element">
          {% csrf_token %}
          <div class="form-group">
                <div class="input-group">
                  <div class="input-group-addon">@</div>
                  <input type="text" class="form-control" name="username" 
                  required autofocus maxlength="10" id="id_username" placeholder="Логин">
                </div>
                <div class="input-group">
                  <div class="input-group-addon">*</div>
                  <input type="password" class="form-control" name="password" 
                  required id="id_password" value="" placeholder="Пароль">
                </div>
          </div>
          <button type="submit" class="btn btn-default ">Вход</button>
          <input type="hidden" name="next" value="{{ next|escape }}">
        </form>
      </div> <!-- end of wrap-headline -->
    </section>
{% endblock %}
